@import 'gly-spin';

label[required]:after {
  content: " *";
  color: red;
}

body {
  background: #FFF;
}

img {
  max-width: 100%;
}

.container h1 {
  text-align: center;
}

.item {
  width: 310px;
  display: inline-block;
  text-align: center;
  background: #f3f3f3;
}

.item-container {
  text-align: center;
  vertical-align: middle;
}

.pagination-container {
  text-align: center;
}
